@import "src/responsivity";

:host {
  position: absolute;
  width: 1rem;
  display: inline-block;
  right: 20px;
  bottom: 20px;

  @include lg() {
    top: 20px;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='100%25' height='100%25' viewBox='0 0 1104 1024'%3E%3Ctitle/%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath d='M316.208 0.015c-174.143-1.645-316.398 140.544-314.867 314.663 0 0.036 0 0.069 0 0.103 0.030 106.94 48.535 203.148 128.854 301.347 80.332 98.214 193.069 200.225 328.080 322.65l93.621 85.222 17.721-15.98 76.004-68.73h0.103c135.036-122.711 247.741-224.874 328.080-323.162 80.315-98.258 128.826-194.408 128.854-301.347 1.588-174.165-140.687-316.411-314.867-314.764h-0.103c-89.839 0.712-172.754 40.486-235.69 103.659-62.933-63.173-145.852-102.948-235.69-103.659h-0.103zM315.696 52.461h0.103c83.247 0.635 162.139 37.288 216.329 100.483l19.87 23.151 19.87-23.151c54.191-63.196 133.082-99.848 216.329-100.483h0.103c145.593-1.423 263.336 116.317 261.911 261.911v0.307c0 91.257-40.639 174.869-116.974 268.263s-187.805 194.807-322.858 317.529l-58.384 52.751-58.384-53.263c-135.045-122.456-246.526-223.696-322.858-317.016s-116.974-177.006-116.974-268.263v-0.307c-1.423-145.593 116.317-263.336 261.911-261.911z'/%3E%3C/svg%3E");
  }
}
