<ng-container *ngIf="data()">
  <h1>Listing {{listDelay}}</h1>
  <p>{{$any(data()).content[0].common.title + ' ' + $any(data()).content[1].common.title}}</p>

  <app-history></app-history>

  <app-filter [subcategory]="$any(data()).filter.subCategory"></app-filter>

  <div class="items">
    <a app-article-item *ngFor="let article of $any(data()).content"
      routerLink="/d/{{$any(article).id}}"
      [title]="$any(article).common.title"
      [description]="$any(article).common.description"
      [image]="$any(article).image.link"
      [id]="$any(article).id"
    ></a>
  </div>
</ng-container>
